/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
  margin: 0px;
  padding: 0px;
}

.ol-rotate {
  top: 0.5em;
  right: 3em;
}

.ol-overviewmap {
  bottom: 2em;
}

.layer-switcher {
  right: 0.5em;
  top: 3em;
}
